body{
    background-color:lightsteelblue
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}